{% extends 'base.html.twig' %}

{% block title %}Sales List{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
			Sales List
			<a href="{{ path('newSale') }}" class="btn btn-primary btn-sm ft-create-new-link" role="button">Create New</a>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Quantity</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					{% for sale in sales %}
						<tr>
							<td>{{ sale.quantity }}</td>
							<td>{{ sale.price }}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">No records found</td>
						</tr>
					{% endfor %}
				</tbody>
      </table>
		</div>
	</div>
{% endblock %}
