{% extends 'base.html.twig' %}

{% block title %}Purchase List{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
				Purchase List
				<a href="{{ path('newPurchase') }}" class="btn btn-primary btn-sm" role="button">Create New</a>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Quantity</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					{% for purchase in purchases %}
						<tr>
							<td>{{ purchase.quantity }}</td>
							<td>{{ purchase.price }}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">No records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
