{% extends 'base.html.twig' %}

{% block title %}Create New Purchase{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
			Create New Purchase
			<a href="{{ path('purchaseList') }}" class="btn btn-secondary btn-sm ft-back-link" role="button">Back</a>
		</div>
		<div class="card-body">
			{{ include('form.html.twig') }}
		</div>
	</div>
{% endblock %}
