{% extends 'base.html.twig' %}

{% block body %}
	<div class="card">
      <div class="card-header">
      Calculator
    </div>
    <div class="card-body">
        <p class="card-title">Please see the usages note:</p>
        <ul>
            <li>Sale can't be done if stock is not available.</li>
            <li>After saving purchase and sales, success message is not given.</li>
            <li>Edit and delete action are not implemented for purchase and sale.</li>
            <li>Assume that a single product is purchased and sold for generating profit.</li>
            <li>Purchase, Sales and Profit links are not activated once selected.</li>
        </ul>     
    </div>
  </div> 
{% endblock %}
