{% extends 'base.html.twig' %}

{% block body %}
	<div class="card">
		<div class="card-header">
      Calculator
    </div>
    <div class="card-body">
      <p class="card-title">Please see the usages note:</p>
			<ul>
				<li>Sale is not possible if stock is not available.</li>
				<li>After saving purchase and sales, success message is not given.</li>
				<li>Edit and delete action has not implemented for purchase and sale.</li>
				<li>Assumed a single product is purchased and sold for generate profit.</li>			
			</ul>     
    </div>
  </div> 
{% endblock %}
